<div class="dashboardpanel">
  <div class="mainheadingpanel">
    <p class="mainheading">Dashboard</p>
      </div>
      <div class="dashboardarea">
        <div class="maindropdownpanel">
          <div class="dashboardtypepanel">
            <div class="dropdown calltype">
             <li style="height: 34px; list-style: none;">
             <a class="selecteddashboardname"   data-toggle="dropdown" aria-expanded="false">
                 {{selecteddashboard}}
                 <svg  class="arrowdownicon1" width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.05566 0.371094L4.50098 3.81641L7.94629 0.371094L9.00098 1.42578L4.50098 5.92578L0.000976562 1.42578L1.05566 0.371094Z" fill="#162741"/>
                  </svg>
             </a>  
             <ul class="dropdown-menu usertype" style="transform: translate3d(0px, 23px, 0px);">
                 <li class="listitem user"   *ngFor="let count of this.listofdashboard" [ngValue]="count.name" > <input (click)="getlistofdashboard(count.name)"  #i (change)="!i['checked']" [checked]="count.status" name="user"  type="radio" [value]="count.name" [attr.id]="count.name"> <label class="dropdownlistitem1"  [for]="count.name"> 
                     {{count.name}}
                    </label></li>
             </ul>
              </li>
               </div>
          </div>
          <div class="datepickerpanel">
            <div class="datepicker" >
              <div class="calander dropdown" data-toggle="dropdown">
              <p  #dp class="calhead">{{rangeSelected}}</p>  
              <svg  class="arrowdownicon" width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.05566 0.371094L4.50098 3.81641L7.94629 0.371094L9.00098 1.42578L4.50098 5.92578L0.000976562 1.42578L1.05566 0.371094Z" fill="#162741"/>
                </svg>
              <div class="dropdown-menu dropdown-menu-right">
                 <div class="selectionpanel">
              </div>
                <bs-daterangepicker-inline style=" margin: 0px;
                display: contents;"  type="text"
                bsDaterangepicker
                placement="bottom"
                [bsValue]="bsValue"
                (bsValueChange)="onDateChange($event)"
                [bsConfig]="bsConfig">
              </bs-daterangepicker-inline>
            </div></div>
          </div>
          </div>
        </div>
  <div [hidden]="showcallsdashboard">
    <div class="statsareapanel">
      <div class="statsheading">
        <p class="mainheading">Calls</p>
          </div>
    </div>
   
    <div class="subcard">
      <div class="withincard" >
        <div class="imagepanelforcard">
          <div class="imageforcard"   style="background: #EDEDF6; padding-left: 12px;padding-top: 9px;">
            <img class="iconsfordashboard" src="../../../assets/assets_workdesk/calls_incoming.svg" alt="">
          </div>
        </div>
    
        <div class="carddetails">
          <p class="cardheading">
            Total Incoming
            </p>
            <p class="cardvalue" >
             {{totalincoming}}
            </p>
              <p class="time"><span ><img class="trendupdown" [src]="totalincper|percentpipe" alt=""> </span>{{totalincomingper}}% vs last week</p>
        </div>
       </div>
      
       <div class="withincard">
        <div class="imagepanelforcard">
          <div class="imageforcard" style="background: #F9EBEF; padding-left: 10.5px;padding-top: 9px;">
            <img class="iconsfordashboard" src="../../../assets/assets_workdesk/calls_total_missed.svg" alt="">
          </div>
        </div>
        <div  class="carddetails">
          <p class="cardheading">
            Total Missed
            </p>
            <p class="cardvalue" >
              {{totalmissed}}
            </p>
              <p class="time"><span ><img class="trendupdown" [src]="totalmissper|percentpipe" alt=""> </span> {{totalmissedper}}% vs last week</p>
        </div>

      </div>
      <div class="withincard">
        <div class="imagepanelforcard">
          <div class="imageforcard" style="background: #EBF7DD; padding-left: 10.5px;padding-top: 9px;">
            <img class="iconsfordashboard" src="../../../assets/assets_workdesk/calls_answered.svg" alt="">
          </div>
        </div>
        <div  class="carddetails">
          <p class="cardheading">
            Total Answered
            </p>
            <p class="cardvalue" >
              {{answered}}
            </p>
              <p class="time"><span ><img class="trendupdown" [src]="ansper|percentpipe" alt=""></span>{{answeredper}}% vs last week</p>
        </div>
      </div>
      <div class="withincard last">
        <div class="imagepanelforcard">
          <div class="imageforcard" style="background: #E9EFFE; padding-left: 10.5px;padding-top: 9px;">
            <img class="iconsfordashboard" src="../../../assets/assets_workdesk/chats_answered_ai.svg" alt="">
          </div>
        </div>
        <div  class="carddetails">
          <p class="cardheading">
            Total Answered by AI
            </p>
            <p class="cardvalue" >
             {{answeredbyai}}
            </p>
              <p class="time"><span><img class="trendupdown" [src]="ansbyai|percentpipe" alt=""> </span>  {{answeredbyaiper}}% vs last week</p>
        </div>
        
      </div>
      
      </div>
  
  <div class="barchartpanel">
    <div class=" chartscard">
      <div class="cell large-12 chartheadingpanel" style="text-align: left; padding-left: 23px;">
      <p class="heading bar">INCOMING</p>
      </div>
      <div  style="width: 100%; text-align: center; height: 222px; padding-left: 27px; padding-right: 40px; margin-top: 46px;">
        <canvas
        id="income" style="display: inline-block;"  ></canvas>
  
      </div>
      </div>
      <div class="chartscard">
        <div class="cell large-12 chartheadingpanel" style="text-align: left; padding-left: 23px;">
        <p class="heading bar">MISSED</p>
        </div>
        <div  style="width: 100%; text-align: center; height: 222px; padding-left: 27px; padding-right: 40px; margin-top: 46px;">
          <canvas
          id="missed" style="display: inline-block;"></canvas>
    
        </div>
        </div>
        <div class="chartscard">
          <div class="cell large-12 chartheadingpanel" style="text-align: left; padding-left: 23px;">
          <p class="heading bar">ANSWERED</p>
          </div>
          <div  style="width: 100%; text-align: center; height: 222px; padding-left: 27px; padding-right: 40px; margin-top: 46px;">
            <canvas
            id="answered" style="display: inline-block;"  ></canvas>
      
          </div>
          </div>
          <div class="chartscard">
            <div class="cell large-12 chartheadingpanel" style="text-align: left; padding-left: 23px;">
            <p class="heading bar">ANSWERED BY AI
            </p>
            </div>
            <div  style="width: 100%; text-align: center; height: 222px; padding-left: 27px; padding-right: 40px; margin-top: 46px;">
              <canvas
              id="ansbyai" style="display: inline-block;"  ></canvas>
            </div>
            </div>
        
  </div>
  </div>
  <!-- chats dashboard -->
  <div [hidden]="showchatsdashboard">
    <div class="statsareapanel">
      <div class="statsheading">
        <p class="mainheading">Chats</p>
          </div>
    </div>
   
    <div class="subcard">
      <div class="withincard" >
        <div class="imagepanelforcard">
          <div class="imageforcard" style="padding-left: 9.5px;padding-top: 9px;">
            <img class="iconsfordashboard"  src="../../../assets/assets_workdesk/chats_total.svg" alt="">
          </div>
        </div>
    
        <div class="carddetails">
          <p class="cardheading">
            Total Incoming
            </p>
            <p class="cardvalue" >
             {{totalincoming}}
            </p>
              <p class="time"><span ><img  class="trendupdown" [src]="totalincper|percentpipe" alt=""> </span>{{totalincomingper}}% vs last week</p>
        </div>
       </div>
      
       <div class="withincard">
        <div class="imagepanelforcard">
          <div class="imageforcard"  style="padding-left: 9.5px;padding-top: 9px;">
            <img class="iconsfordashboard" src="../../../assets/assets_workdesk/chats_missed.svg" alt="">
          </div>
        </div>
        <div  class="carddetails">
          <p class="cardheading">
            Total Missed
            </p>
            <p class="cardvalue" >
              {{totalmissed}}
            </p>
            <p class="time"><span ><img class="trendupdown" [src]="totalmissper|percentpipe" alt=""> </span>{{totalmissedper}}% vs last week</p>
          </div>

      </div>
      <div class="withincard">
        <div class="imagepanelforcard">
          <div class="imageforcard"  style="padding-left: 9.5px;padding-top: 9px;">
            <img class="iconsfordashboard" src="../../../assets/assets_workdesk/chats_answered.svg" alt="">
          </div>
        </div>
        <div  class="carddetails">
          <p class="cardheading">
            Total Answered
            </p>
            <p class="cardvalue" >
              {{answered}}
            </p>
              <p class="time"><span > <img class="trendupdown" [src]="ansper|percentpipe" alt=""></span>{{answeredper}}% vs last week</p>
        </div>
      </div>
      <div class="withincard last">
        <div class="imagepanelforcard">
          <div class="imageforcard"  style="padding-left: 9.5px;padding-top: 9px;">
            <img class="iconsfordashboard" src="../../../assets/assets_workdesk/chats_answered_ai.svg" alt="">
          </div>
        </div>
        <div  class="carddetails">
          <p class="cardheading">
            Total Answered by AI
            </p>
            <p class="cardvalue" >
             {{answeredbyai}}
            </p>
              <p class="time"><span><img class="trendupdown" [src]="ansbyai|percentpipe" alt=""> </span>  {{answeredbyaiper}}% vs last week</p>
        </div>
        
      </div>
      
      </div>
  
  <div class="barchartpanel">
    <div class=" chartscard">
      <div class="cell large-12 chartheadingpanel" style="text-align: left; padding-left: 23px;">
      <p class="heading bar">INCOMING</p>
      </div>
      <div  style="width: 100%; text-align: center; height: 222px; padding-left: 27px; padding-right: 40px; margin-top: 46px;">
        <canvas
        id="income" style="display: inline-block;"  ></canvas>
  
      </div>
      </div>
      <div class="chartscard">
        <div class="cell large-12 chartheadingpanel" style="text-align: left; padding-left: 23px;">
        <p class="heading bar">MISSED</p>
        </div>
        <div  style="width: 100%; text-align: center; height: 222px; padding-left: 27px; padding-right: 40px; margin-top: 46px;">
          <canvas
          id="missed" style="display: inline-block;"  ></canvas>
    
        </div>
        </div>
        <div class="chartscard">
          <div class="cell large-12 chartheadingpanel" style="text-align: left; padding-left: 23px;">
          <p class="heading bar">ANSWERED</p>
          </div>
          <div  style="width: 100%; text-align: center; height: 222px; padding-left: 27px; padding-right: 40px; margin-top: 46px;">
            <canvas
            id="answered" style="display: inline-block;"  ></canvas>
      
          </div>
          </div>
          <div class="chartscard">
            <div class="cell large-12 chartheadingpanel" style="text-align: left; padding-left: 23px;">
            <p class="heading bar">ANSWERED BY AI
            </p>
            </div>
            <div  style="width: 100%; text-align: center; height: 222px; padding-left: 27px; padding-right: 40px; margin-top: 46px;">
              <canvas
              id="ansbyai" style="display: inline-block;"  ></canvas>
            </div>
            </div>
        
  </div>
  </div>



  <!-- visitors dashboard -->
  <div [hidden]="showvisitordashboard">
    <div class="statsareapanel">
      <div class="statsheading">
        <p class="mainheading">Visitors</p>
          </div>
    </div>
   
    <div class="subcard">
      <div class="withincard visit" >
        <div class="imagepanelforcard">
          <div class="imageforcard" style="background: EDEDF6;padding-left: 10.5px;padding-top: 9px;">
            <img class="iconsfordashboard" src="../../../assets/assets_workdesk/visitors_total.svg" alt="">
          </div>
        </div>
    
        <div class="carddetails">
          <p class="cardheading">
           Total Visitors
            </p>
            <p class="cardvalue" >
             {{totalincoming}}
            </p>
              <p class="time"><span ><img  class="trendupdown" [src]="totalincper|percentpipe" alt=""> </span>{{totalincomingper}}% vs last week</p>
        </div>
       </div>
      
       <div class="withincard visit">
        <div class="imagepanelforcard">
          <div class="imageforcard" style="background: #F9EBEF;padding-left: 13.5px;padding-top: 9px;">
            <img class="iconsfordashboard" src="../../../assets/assets_workdesk/visitors_unique.svg" alt="">
          </div>
        </div>
        <div  class="carddetails">
          <p class="cardheading">
            Total Unique Visitors
            </p>
            <p class="cardvalue" >
              {{totalmissed}}
            </p>
            <p class="time"><span ><img class="trendupdown" [src]="totalmissper|percentpipe" alt=""> </span>{{totalmissedper}}% vs last week</p>
          </div>

      </div>
      <div class="withincard last visit">
        <div class="imagepanelforcard">
          <div class="imageforcard" style="background: #EBF6DD;padding-left: 9.5px;padding-top: 9px;">
            <img class="iconsfordashboard" src="../../../assets/assets_workdesk/visitors_session_duration.svg" alt="">
          </div>
        </div>
        <div  class="carddetails">
          <p class="cardheading">
            Average Session Duration
            </p>
            <p class="cardvalue" >
              {{answered}}
            </p>
              <p class="time"><span > <img class="trendupdown" [src]="ansper|percentpipe" alt=""></span>{{answeredper}}% vs last week</p>
        </div>
      </div>

      
      </div>
  
  <div class="barchartpanel">
    <div class=" chartscard circle">
      <div class=" chartheadingpanel" style="text-align: left; padding-left: 23px;">
      <p class="heading bar">INTERNET BROWSERS</p>
      </div>
      <div class="doughnutchartpanel">
        <canvas id="browserchart" style="display: inline-block;" width="100px" height="100px"></canvas>
      </div>
      <div  class="legend-con" id="browserlegend"></div> 
      </div>
      <div class="chartscard circle last">
        <div class="chartheadingpanel" style="text-align: left; padding-left: 23px;">
        <p class="heading bar">DEVICES</p>
        </div>
        <div class="doughnutchartpanel">
          <canvas id="devicechart" style="display: inline-block;" width="100px" height="100px"></canvas>
  
        </div>
        <div  class="legend-con" id="devicechartlegend"></div> 
        </div>
        <div class="chartscard circle">
          <div class="chartheadingpanel" style="text-align: left; padding-left: 23px;">
          <p class="heading bar">OPERATING SYSTEMS</p>
          </div>
          <div  class="doughnutchartpanel">
            <canvas id="oschart" style="display: inline-block;" width="100px" height="100px"></canvas>
          </div>
          <div  class="legend-con">
            <div id="oslegend"></div> 

          </div>
          </div>

        
  </div>
  </div>
  
    <!-- tickets dashboard -->
    <div [hidden]="showticketsdashboard">
      <div class="statsareapanel">
        <div class="statsheading">
          <p class="mainheading">Tickets</p>
            </div>
      </div>
  
      <div class="subcard">
        <div class="withincard" >
          <div class="imagepanelforcard">
            <div class="imageforcard"   style="background: #EDEDF6; padding-left: 12px;padding-top: 9px;">
              <img class="iconsfordashboard" src="../../../assets/assets_workdesk/Total Unassigned.svg" alt="">
            </div>
          </div>
      
          <div class="carddetails">
            <p class="cardheading">
              Total Unassigned
              </p>
              <p class="cardvalue" >
               {{totalincoming}}
              </p>
                <p class="time"><span ><img class="trendupdown" [src]="totalincper|percentpipe" alt=""> </span>{{totalincomingper}}% vs last week</p>
          </div>
         </div>
        
         <div class="withincard">
          <div class="imagepanelforcard">
            <div class="imageforcard" style="background: #F9EBEF; padding-left: 12px;padding-top: 9px;">
              <img class="iconsfordashboard" src="../../../assets/assets_workdesk/Not Started.svg" alt="">
            </div>
          </div>
          <div  class="carddetails">
            <p class="cardheading">
              Total Assigned - Not Started
              </p>
              <p class="cardvalue" >
                {{totalmissed}}
              </p>
                <p class="time"><span ><img class="trendupdown" [src]="totalmissper|percentpipe" alt=""> </span> {{totalmissedper}}% vs last week</p>
          </div>
  
        </div>
        <div class="withincard">
          <div class="imagepanelforcard">
            <div class="imageforcard" style="background: #EBF7DD; padding-left: 12px;padding-top: 9px;">
              <img class="iconsfordashboard" src="../../../assets/assets_workdesk/In Progress.svg" alt="">
            </div>
          </div>
          <div  class="carddetails">
            <p class="cardheading">
              Total Assigned - In Progress
              </p>
              <p class="cardvalue" >
                {{answered}}
              </p>
                <p class="time"><span ><img class="trendupdown" [src]="ansper|percentpipe" alt=""></span>{{answeredper}}% vs last week</p>
          </div>
        </div>
        <div class="withincard last">
          <div class="imagepanelforcard">
            <div class="imageforcard" style="background: #E9EFFE;padding-left: 12px;padding-top: 9px;">
              <img class="iconsfordashboard" src="../../../assets/assets_workdesk/Done.svg" alt="">
            </div>
          </div>
          <div  class="carddetails">
            <p class="cardheading">
              Total Assigned - Done
              </p>
              <p class="cardvalue" >
               {{answeredbyai}}
              </p>
                <p class="time"><span><img class="trendupdown" [src]="ansbyai|percentpipe" alt=""> </span>  {{answeredbyaiper}}% vs last week</p>
          </div>
          
        </div>
        
        </div>
    
        <div class="barchartpanel">
          <div class=" chartscard circle">
            <div class=" chartheadingpanel" style="text-align: left; padding-left: 23px;">
            <p class="heading bar">PRIORITY</p>
            </div>
            <div class="doughnutchartpanel">
              <canvas id="priorityticket" style="display: inline-block;" width="100px" height="100px"></canvas>
            </div>
            <div  class="legend-con" id="priorityticketchartlegend"></div> 
            </div>
            <div class="chartscard circle last">
              <div class="chartheadingpanel" style="text-align: left; padding-left: 23px;">
              <p class="heading bar">TICKET TYPE</p>
              </div>
              <div class="doughnutchartpanel">
                <canvas id="tickettype" style="display: inline-block;" width="100px" height="100px"></canvas>
        
              </div>
              <div  class="legend-con" id="tickettypechartlegend"></div> 
              </div>
        </div>
        <div class="tablepanel" [hidden]="showtopticketedagent">
          <table>
            <thead >
              <tr  class="head" style="background: white;">
                <th style="width:30%; padding-left: 31px;">AGENT</th>
                <th  style="width:20%;">FULL NAME</th>
                <th style="width: 50%; text-align: right; padding-right: 30px;">ASSIGNED TICKETS</th>
              </tr>
            </thead>
            <tbody>
                <tr  class="mainlist list" *ngFor="let data of  all_agent; " >
                  <td style="padding-left: 30px;"> 
            
                  <div  class="icon-container"> 
                    <img style="margin-right: 15px;"  class="agentpic" height="36p" width="36" src="../../../assets/picface.jpeg" alt="" >
                   </div>
                    <div style="
                    width: 100px;
                    white-space: nowrap;
                    display: inline-block;
                    vertical-align: middle;
                    ">
                       <p class="displayname"  >Ahsan</p>
                       <p >csahsan021@gmail.com</p></div>
                  </td>
                  <td>Muhammad Ahsan</td>
                  <td style="text-align: right; padding-right: 30px;">183</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>
      </div>

