.dashboardpanel{
 display: block;
 width: 100%;

}
.icon-container {
    margin-right: 12px;
    height: 36px;
    width: 36px;
    display: inline-block;
    position: relative;
  }
.mainheadingpanel{
    display: block;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;

}
.dashboardarea{
    padding-left: 30px;
padding-right: 30px;
background: #FFFFFF;
border-top: 1px solid rgba(208, 208, 222, 0.6);
}
.datepicker{
    width: 200px;
    height: 34px;
    /* display: flex; */
    float: right;

}
.doughnutchart-legend ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 300px;
}
.mainheading{
font-family: "Roboto",sans-serif;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
display: "flex";
align-items: center;
letter-spacing: 0.02em;
color: #162741;
}
    .maindropdownpanel{
        display: block;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;

    }
    .dashboardtypepanel{
        display: inline-block;
        width: 50%;
    }
    .dropdownlistitem1{ font-family: "Roboto",sans-serif;
        font-style: normal;
       font-weight: normal;
       font-size: 12px;
       line-height: 20px;
       display: inline-block;
       width: 45px;
        /* overflow: hidden; */
        white-space: nowrap;
        text-overflow: inherit;
       color: #292F58;
       vertical-align: bottom;
       height: 24px;
      }
    .selecteddashboardname{
font-family: "Roboto",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 34px;
    padding-left: 11px;
    display: inline-block;
    vertical-align: sub;
    width: 200px;
    align-items: center;
    letter-spacing: 0.02em;
    color: rgba(22, 39, 65, 0.8);
    }
    .statsareapanel{
        display: block;
        width: 100%;
    }
    .statsheading{
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }
    .calltype.dropdown{
        width: 200px;
        background: #EDEDF6;
    border-radius: 4px;
    }
    .datepickerpanel{
        display:inline;
        width: 50%;

    }
    .chartscard{
        background: #FFFFFF;
        border: 1px solid rgba(208, 208, 222, 0.6);
        box-sizing: border-box;
        border-radius: 7px;
        margin-bottom: 20px;
        height: 328px;
    }
    .chartheadingpanel{
        height: 48px;
        border-bottom: 1px solid rgba(208, 208, 222, 0.6);;
    }
    .chartscard.circle{
        height: 300px;
        display: inline-block;
        width: 49%;
        margin-right: 2%
    }
    .chartscard.circle.last{
        margin-right: 0%;
    }
    .subcard{
        display: block;
        width: 100%;
    }
    .withincard{
        height: 89px;
        display: inline-block;
        width: 24.2%;
        background: #FFFFFF;
        border: 1px solid rgba(208, 208, 222, 0.6);
        box-sizing: border-box;
        border-radius: 7px;
        margin-right: 1.06%;
        font-size: 30px;
    }
   .withincard.visit{
        width: 32.6%;
    }
    .withincard.last{
        margin-right: 0%;
    }
    .imagepanelforcard{
        display: flex;
        float:left;
        width: fit-content;
        margin-top: 22px;
        margin-left: 20px;
    }
    .imageforcard{
        width: 44px;
        height: 44px;
        background: #EDEDF6;
        border-radius: 100%;
    }
 .tablepanel{
     display: block;
     width: 100%;
 }
 table{
    border: 1px solid rgba(208, 208, 222, 0.6);
    box-sizing: border-box;
  
  }

  tr{
    height: 55px;
  }
  tr:nth-last-child(even)
  {
    background: #FFFFFF;
  }
  tr:nth-last-child(odd)
  {
    background: #FAFAFD;
  }
  .head{
    background: #FFFFFF;
  }

  th{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: rgba(22, 39, 65, 0.6);    
    width: 20%;
    align-items: center;
    font-family: "Roboto",sans-serif;
    border-bottom: 0px solid rgba(166, 168, 186, 0.1);
    margin-bottom: 6px;
    height: 48px;
    padding-bottom: 0px;
    padding-top: 0px;
}
th {
    padding-left: 0px;
    font-weight: 600;
font-size: 12px;
}
td {   font-family: "Roboto",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 50px;
    align-items: center;
    color: #445167;
    vertical-align:middle;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
}
td,td p {   
    font-family: "Roboto",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    align-items: center;
    color: #445167;
    padding-bottom: 0px;
    padding-top: 0px;
}
td p.displayname{
    font-weight: 500;
    color: #445167;
}
.agentpic{
    width: 36px;
  height: 36px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  }
    .carddetails
    {
       display: inline-block; 
    }
    .cardheading
    {
        font-family: "Roboto",sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height:14px;
        margin-top: 15px;
        margin-left: 16px;
        align-items: center;
        letter-spacing: 0.02em;
        color: rgba(22, 39, 65, 0.6);
    }
    .cardvalue
    {
        margin-top: 7px;
        font-family: "Roboto",sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 20px;
        display: flex;
        align-items: center;
        letter-spacing: 0.02em;
        color: #162741;
        margin-left: 16px

    }
    
.time{
    margin-top: 7px;
    font-family: "Roboto",sans-serif;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
display: flex;
align-items: center;
color: #162741;
margin-left: 16px

}   
.trendupdown{
    vertical-align: baseline;
}
.heading{
    font-family: "Roboto",sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 50px;
    /* or 357% */
    
    align-items: center;
    text-align: center;
    color: #A6A8BA;
    
}
.heading.bar{
    color: rgba(22, 39, 65, 0.6);
    text-align: left;
}
/* .heading:hover{
    cursor: default;

} */
*:hover{
    cursor: default;

}
.calander{
    background: #FFFFFF;
    border: 1px solid rgba(208, 208, 222, 0.6);
    box-sizing: border-box;
    border-radius: 4px;
        height: 34px;
        padding: 0px;
        cursor: pointer;
}
.legend-con{
    display: inline-block;
    width: 28%;
    text-align: left;
    position: absolute;
    padding-top: 30px;
;
}
.barchartpanel{
    display: block;
    width: 100%;
    margin-top: 20px;
}
.doughnutchart
{
    margin: auto;
}
.doughnutchartpanel{
    display: inline-block;
    padding-left: 44px;
    padding-top: 30px;
    text-align: left;
    width: 35%;
}
.caland{

float: left;
height: 36px;
cursor: pointer;
}
.calhead{
    font-family: "Roboto",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 34px;
    vertical-align: sub;
    display: inline-block;
    align-items: center;
    letter-spacing: 0.02em;
    padding-left: 11px;
    color: rgba(22, 39, 65, 0.8);
}
.arrowdownicon1{
    float: right;
    line-height: 34px;
    display: flex;
    margin-right: 12px;
    margin-top: 14px;
    cursor: pointer;
    color: #292F58;

}
.arrowdownicon{
    float: right;
    line-height: 40px;
    display: flex;
    margin-right: 12px;
    margin-top: 14px;
    cursor: pointer;
    color: #292F58;

}
.arrowdownicon:hover{
    color: #292F58;
}
 svg{
position: relative;
display: inline-block;
vertical-align: middle;
margin-left: 12px;
color:  #C4C4C4;
}

.chart-legend
{
    width: 25px;
    height: 25px;
    margin-right: 10px;
 color: greenyellow;
 background: greenyellow;
}
input[type="radio"]  {
    height: 18px;
    width: 18px;
    margin-left: 12px;
    margin-right: 0px;
    border-radius: 50%;
    margin-top: 6px;
    margin-bottom: 6px;
    background: #FFFFFF;
    border: 0.5px solid rgba(166, 168, 186, 0.5);
    box-sizing: border-box;
    vertical-align: middle;
    appearance: inherit;
    cursor: pointer;
    }
    
    input[type=radio]:before{
    background-color: #FFFFFF; 
    border-bottom:none;
    
    }
    input[type=radio]:checked{
    background-color: #1C54DB; 
    border-bottom:none;
    
    }
    
    input[type=radio]:checked:after {
    content: "\2714";
    margin-left: 2px;
    margin-top: 0px;
    position: absolute;
    color: #FFFFFF;
    border-bottom:none;
    }
    /* input[type=checkbox]:checked:after {
    background: #64DFDF;
    } */
    li.listitem{
    margin: 4px;
    border-radius: 4px;
    display: block;
    width: 95%;
    }
.boxstyle{
    height: 25px;
    width: 25px;
}
.selectionpanel{
    /* background: #FFFFFF;
box-shadow: 0px 15px 35px rgba(37, 51, 66, 0.15); */
width: 121px;
height: 288px;
text-align: center;
display: inline-block;
border-right: 2px solid rgba(166, 168, 186, 0.3);
}
.dropdown{
color: inherit;
}
.selectionlistitem{
    font-family: "Roboto",sans-serif;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 28px;
/* or 417% */
align-items: center;
text-align: center;
color: #A6A8BA;
}
.dropdown-menu.show.usertype{
    width: 200px;
    margin-top: 7px;
}

.dropdown-menu.show.calander{
       display: inline-flex;
       width: 668px;
     height: 288px;
     padding: 0px;
}





