.doughnutchart-legend ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 300px;
}
.mainheading{
    font-family: "Roboto",sans-serif;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 50px;
/* or 278% */

display: flex;
align-items: center;
margin-bottom: 24px;
color: #292F58;

}
.chartscard{
    background: #FFFFFF;
box-shadow: 0px 1px 5px 2px rgba(166, 168, 186, 0.3);
border-radius: 20px;
height: 276px;
margin-bottom: 24px;
}
.chartscard.circle{
    height: 216px;
}

.subcard{
    background: #FFFFFF;
    box-shadow: 0px 1px 5px 2px rgba(166, 168, 186, 0.3);
    border-radius: 20px;
    height: 132px;
    margin-bottom: 24px;
    }
    .withincard{
        border-right: 2px solid rgba(166, 168, 186, 0.3);
        height: 108px;
        margin-top: 12px;
    }
   
    .cardheading
    {
        font-family: "Roboto",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    height: 24px;
    display: inherit;
    align-items: center;
    text-align: center;
    color: #A6A8BA;
    margin-top: 12px;
    }
    .cardvalue
    {
        font-family: "Roboto",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    height: 24px;
    margin-top: 12px;
    align-items: center;
    text-align: center;
    width: 100%;
    color: #715DFF;
    }
    
.time{
     font-family: "Roboto",sans-serif;
     font-weight: 500;
     font-size: 12px;
     align-items: center;
     text-align: center;
     line-height: 50px;
     color: #A6A8BA;
     margin-top: 5px;
     margin-bottom: 12px;
}   

.heading{
    font-family: "Roboto",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 50px;
    /* or 357% */
    
    align-items: center;
    text-align: center;
    color: #A6A8BA;
    
}
.heading.bar{
    color: #292F58;
}
/* .heading:hover{
    cursor: default;

} */
*:hover{
    cursor: default;

}
.calander{
    background: #FFFFFF;
    border: 1px solid rgba(166, 168, 186, 0.5);
    box-sizing: border-box;
    border-radius: 6px;
    /* width: 238px; */
height: 44px;
padding: 0px;
cursor: pointer;
}

.doughnutchart
{
    margin: auto;
}
.caland{

float: left;
height: 36px;
cursor: pointer;
}
.calhead{
    font-family: "Roboto",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 40px;
    margin-left: 8px;
    /* identical to box height */
    display: inline-block;
    vertical-align: middle;
    color: #292F58;
}
.arrowdownicon{
    float: right;
    line-height: 40px;
    display: flex;
    margin-right: 12px;
    cursor: pointer;
    color: #292F58;

}
.arrowdownicon:hover{
    color: #292F58;
}
 svg{
position: relative;
display: inline-block;
vertical-align: middle;
margin-left: 12px;
color:  #C4C4C4;
}

.chart-legend
{
    width: 25px;
    height: 25px;
    margin-right: 10px;
 color: greenyellow;
 background: greenyellow;
}
.boxstyle{
    height: 25px;
    width: 25px;
}
.selectionpanel{
    /* background: #FFFFFF;
box-shadow: 0px 15px 35px rgba(37, 51, 66, 0.15); */
width: 121px;
height: 288px;
text-align: center;
display: inline-block;
border-right: 2px solid rgba(166, 168, 186, 0.3);
}
.dropdown{
color: inherit;
}
.selectionlistitem{
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 28px;
/* or 417% */
align-items: center;
text-align: center;
color: #A6A8BA;
}
.selectionlistitem:hover{
    background: #292F58;
    color: #FFFFFF;
}

 .dropdown-menu.show{
        display: inline-flex;
        width: 668px;
      height: 288px;
      padding: 0px;
 }
.legend-con{
    margin: auto; 
    text-align: left;
}
.mobileheading{
    display: none;
}
.mobilecalander{
    display: none;
}
 @media (max-width: 768px){
    .mobileheading1{
        display: none;
    }
    .mobilecalander1{
        display: none;
    }
     .mainheading{
         width: 50%;
     }
    .mobilemain{
        display: block;
        position: relative;
    }
    .mobileheading{
        display: inline-block;
        width: 45%;
        margin-left: 2%;
    }
    .mobilecalander{
        display: inline-block;
        width: 50%;
    }
    .subcard{
        display: block;
        height: fit-content;
    }
    .withincard{
        border-right: 0px;
        border-bottom:  2px solid rgba(166, 168, 186, 0.3);
        margin: 0px;
        margin-bottom: 12px;
    }
    .withincard.last{
        border-bottom: none;
    }
    .withincard.last
    {
        border-bottom: none;
    }
    .time{
        font-family: "Roboto",sans-serif;
    font-weight: 500;
    font-size: 12px;
    align-items: center;
    text-align: center;
    line-height: 18px;
    color: #A6A8BA;
    }
    .chartscard.circle{
        height: 340px;
    }
    .chartscard.circle
    {
        text-align: center;
    }
    .legend-con{
        margin: auto; 
        text-align: left;
        width: max-content;
    }
    .mobiledoughnut{
        margin-bottom: 72px;
    }
    .bs-datepicker .bs-media-container {
        flex-direction: row;
        margin: 0px;
    }
    .dropdown-menu.show{
        width: 364px;
    }

    body .bs-datepicker {
   
        width: auto;
    }
    .selectionpanel{
        display: inline-block;
    }
   
    .calander{
        width: 224px;
        float: right;
    }
    
    .arrowdownicon{
        height: 20px;
        width: 10px;
        float: right;
        line-height: 40px;
        display: flex;
        margin-right: 21px;
    }
     .bs-datepicker .bs-media-container {
        flex-direction: row;
        margin: 0px;
    }
    .dropdown-menu.show{
        width: 364px;
    }

    body .bs-datepicker {
   
        width: auto;
    }
    .selectionpanel{
        display: inline-block;
    }
   
    .calander{
        width: 224px;
        float: right;
    }
    
    .arrowdownicon{
        height: 20px;
        width: 10px;
        float: right;
        line-height: 40px;
        display: flex;
        margin-right: 21px;
    }
 }


