<div class="dashboardpanel">
  <div class="mainheadingpanel">
    <p class="mainheading">Dashboard</p>
      </div>
      <div class="dashboardarea">
        <div class="maindropdownpanel">
          <div class="dashboardtypepanel">
            <div class="dropdown calltype">
             <li style="height: 34px; list-style: none;">
             <a class="selecteddashboardname"   data-toggle="dropdown" aria-expanded="false">
                 {{selecteddashboard}}
                 <svg  class="arrowdownicon1" width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.05566 0.371094L4.50098 3.81641L7.94629 0.371094L9.00098 1.42578L4.50098 5.92578L0.000976562 1.42578L1.05566 0.371094Z" fill="#162741"/>
                  </svg>
             </a>  
             <ul class="dropdown-menu usertype" style="transform: translate3d(0px, 23px, 0px);">
                 <li class="listitem user"   *ngFor="let count of this.listofdashboard" [ngValue]="count.name" > <input (click)="getlistofdashboard(count.name)"  #i (change)="!i['checked']" [checked]="count.status" name="user"  type="radio" [value]="count.name" [attr.id]="count.name"> <label class="dropdownlistitem1"  [for]="count.name"> 
                     {{count.name}}
                    </label></li>
             </ul>
              </li>
               </div>
          </div>
          <div class="datepickerpanel">
            <div class="datepicker" >
              <div class="calander dropdown" data-toggle="dropdown">
              <p  #dp class="calhead">{{rangeSelected}}</p>  
              <svg  class="arrowdownicon" width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.05566 0.371094L4.50098 3.81641L7.94629 0.371094L9.00098 1.42578L4.50098 5.92578L0.000976562 1.42578L1.05566 0.371094Z" fill="#162741"/>
                </svg>
              <div class="dropdown-menu dropdown-menu-right">
                 <div class="selectionpanel">
              </div>
                <bs-daterangepicker-inline style=" margin: 0px;
                display: contents;"  type="text"
                bsDaterangepicker
                placement="bottom"
                [bsValue]="bsValue"
                (bsValueChange)="onDateChange($event)"
                [bsConfig]="bsConfig">
              </bs-daterangepicker-inline>
            </div></div>
          </div>
          </div>
        </div>
  <div *ngIf="!showcallsdashboard">
    <div class="statsareapanel">
      <div class="statsheading">
        <p class="mainheading">Calls</p>
          </div>
    </div>
   
    <div class="subcard">
      <div class="withincard" >
        <div class="imagepanelforcard">
          <div class="imageforcard" style="background: #EDEDF6;">
            <img class="iconsfordashboard" src="../../../assets/assets_workdesk/calls_incoming.svg" alt="">
          </div>
        </div>
    
        <div class="carddetails">
          <p class="cardheading">
            Total Incoming
            </p>
            <p class="cardvalue" >
             {{totalincoming}}
            </p>
              <p class="time"><span [ngStyle]="totalincomingper|percentpipe"> </span>{{totalincomingper}}% vs last week</p>
        </div>
       </div>
      
       <div class="withincard">
        <div class="imagepanelforcard">
          <div class="imageforcard" style="background: #F9EBEF;">
            <img class="iconsfordashboard" src="../../../assets/assets_workdesk/calls_total_missed.svg" alt="">
          </div>
        </div>
        <div  class="carddetails">
          <p class="cardheading">
            Total Missed
            </p>
            <p class="cardvalue" >
              {{totalmissed}}
            </p>
              <p class="time"><span [ngStyle]="totalmissedper|percentpipe"> </span> {{totalmissedper}}% vs last week</p>
        </div>

      </div>
      <div class="withincard">
        <div class="imagepanelforcard">
          <div class="imageforcard" style="background: #EBF7DD;">
            <img class="iconsfordashboard" src="../../../assets/assets_workdesk/calls_answered.svg" alt="">
          </div>
        </div>
        <div  class="carddetails">
          <p class="cardheading">
            Total Answered
            </p>
            <p class="cardvalue" >
              {{answered}}
            </p>
              <p class="time"><span [ngStyle]="answeredper|percentpipe"></span>{{answeredper}}% vs last week</p>
        </div>
      </div>
      <div class="withincard last">
        <div class="imagepanelforcard">
          <div class="imageforcard" style="background: #E9EFFE;">
            <img class="iconsfordashboard" src="../../../assets/assets_workdesk/chats_answered_ai.svg" alt="">
          </div>
        </div>
        <div  class="carddetails">
          <p class="cardheading">
            Total Answered by AI
            </p>
            <p class="cardvalue" >
             {{answeredbyai}}
            </p>
              <p class="time"><span  [ngStyle]="answeredper|percentpipe"> </span>  {{answeredbyaiper}}% vs last week</p>
        </div>
        
      </div>
      
      </div>
  
  <div class="barchartpanel">
    <div class=" chartscard">
      <div class="cell large-12 chartheadingpanel" style="text-align: left; padding-left: 23px;">
      <p class="heading bar">INCOMING</p>
      </div>
      <div  style="width: 100%; text-align: center; height: 222px; padding-left: 27px; padding-right: 40px; margin-top: 46px;">
        <canvas
        id="income" style="display: inline-block;"  ></canvas>
  
      </div>
      </div>
      <div class="chartscard">
        <div class="cell large-12 chartheadingpanel" style="text-align: left; padding-left: 23px;">
        <p class="heading bar">MISSED</p>
        </div>
        <div  style="width: 100%; text-align: center; height: 222px; padding-left: 27px; padding-right: 40px; margin-top: 46px;">
          <canvas
          id="missed" style="display: inline-block;"  ></canvas>
    
        </div>
        </div>
        <div class="chartscard">
          <div class="cell large-12 chartheadingpanel" style="text-align: left; padding-left: 23px;">
          <p class="heading bar">ANSWERED</p>
          </div>
          <div  style="width: 100%; text-align: center; height: 222px; padding-left: 27px; padding-right: 40px; margin-top: 46px;">
            <canvas
            id="answered" style="display: inline-block;"  ></canvas>
      
          </div>
          </div>
          <div class="chartscard">
            <div class="cell large-12 chartheadingpanel" style="text-align: left; padding-left: 23px;">
            <p class="heading bar">ANSWERED BY AI
            </p>
            </div>
            <div  style="width: 100%; text-align: center; height: 222px; padding-left: 27px; padding-right: 40px; margin-top: 46px;">
              <canvas
              id="ansbyai" style="display: inline-block;"  ></canvas>
            </div>
            </div>
        
  </div>
  </div>
  <div *ngIf="!showchatsdashboard">
    <div class="statsareapanel">
      <div class="statsheading">
        <p class="mainheading">Chats</p>
          </div>
    </div>
   
    <div class="subcard">
      <div class="withincard" >
        <div class="imagepanelforcard">
          <div class="imageforcard">
            <img class="iconsfordashboard" src="../../../assets/assets_workdesk/chats_total.svg" alt="">
          </div>
        </div>
    
        <div class="carddetails">
          <p class="cardheading">
            Total Incoming
            </p>
            <p class="cardvalue" >
             {{totalincoming}}
            </p>
              <p class="time"><span [ngStyle]="totalincomingper|percentpipe"> </span>{{totalincomingper}}% vs last week</p>
        </div>
       </div>
      
       <div class="withincard">
        <div class="imagepanelforcard">
          <div class="imageforcard">
            <img class="iconsfordashboard" src="../../../assets/assets_workdesk/chats_missed.svg" alt="">
          </div>
        </div>
        <div  class="carddetails">
          <p class="cardheading">
            Total Missed
            </p>
            <p class="cardvalue" >
              {{totalmissed}}
            </p>
            <p class="time"><span [ngStyle]="totalincomingper|percentpipe"> </span>{{totalmissedper}}% vs last week</p>
          </div>

      </div>
      <div class="withincard">
        <div class="imagepanelforcard">
          <div class="imageforcard">
            <img class="iconsfordashboard" src="../../../assets/assets_workdesk/chats_answered.svg" alt="">
          </div>
        </div>
        <div  class="carddetails">
          <p class="cardheading">
            Total Answered
            </p>
            <p class="cardvalue" >
              {{answered}}
            </p>
              <p class="time"><span [ngStyle]="answeredper|percentpipe"></span>{{answeredper}}% vs last week</p>
        </div>
      </div>
      <div class="withincard last">
        <div class="imagepanelforcard">
          <div class="imageforcard">
            <img class="iconsfordashboard" src="../../../assets/assets_workdesk/chats_answered_ai.svg" alt="">
          </div>
        </div>
        <div  class="carddetails">
          <p class="cardheading">
            Total Answered by AI
            </p>
            <p class="cardvalue" >
             {{answeredbyai}}
            </p>
              <p class="time"><span> </span>  {{answeredbyaiper}}% vs last week</p>
        </div>
        
      </div>
      
      </div>
  
  <div class="barchartpanel">
    <div class=" chartscard">
      <div class="cell large-12 chartheadingpanel" style="text-align: left; padding-left: 23px;">
      <p class="heading bar">INCOMING</p>
      </div>
      <div  style="width: 100%; text-align: center; height: 222px; padding-left: 27px; padding-right: 40px; margin-top: 46px;">
        <canvas
        id="income" style="display: inline-block;"  ></canvas>
  
      </div>
      </div>
      <div class="chartscard">
        <div class="cell large-12 chartheadingpanel" style="text-align: left; padding-left: 23px;">
        <p class="heading bar">MISSED</p>
        </div>
        <div  style="width: 100%; text-align: center; height: 222px; padding-left: 27px; padding-right: 40px; margin-top: 46px;">
          <canvas
          id="missed" style="display: inline-block;"  ></canvas>
    
        </div>
        </div>
        <div class="chartscard">
          <div class="cell large-12 chartheadingpanel" style="text-align: left; padding-left: 23px;">
          <p class="heading bar">ANSWERED</p>
          </div>
          <div  style="width: 100%; text-align: center; height: 222px; padding-left: 27px; padding-right: 40px; margin-top: 46px;">
            <canvas
            id="answered" style="display: inline-block;"  ></canvas>
      
          </div>
          </div>
          <div class="chartscard">
            <div class="cell large-12 chartheadingpanel" style="text-align: left; padding-left: 23px;">
            <p class="heading bar">ANSWERED BY AI
            </p>
            </div>
            <div  style="width: 100%; text-align: center; height: 222px; padding-left: 27px; padding-right: 40px; margin-top: 46px;">
              <canvas
              id="ansbyai" style="display: inline-block;"  ></canvas>
            </div>
            </div>
        
  </div>
  </div>
  
  </div>
      </div>

 <!-- for visitor -->
<!-- <div class="grid-x grid-margin-x">
  <div class="cell large-12">
<p class="mainheading">Visitors</p>
  </div>
  <div class="cell large-12 subcard">
    <div class="grid-x ">
    <div class="cell large-4 withincard">
       <p class="cardheading">
        TOTAL VISITORS
        </p>
        <p class="cardvalue" >
          0
        </p>
        <div ></div>
          <p class="time">+ 33.32% vs last week</p>
     </div>
    
     <div class="cell large-4 withincard">
       <p class="cardheading">
        TOTAL UNIQUE VISITORS   </p>
        <p class="cardvalue" >
          0
        </p>
        <div ></div>
          <p class="time">+ 33.32% vs last week</p>
    </div>
    <div class="cell large-4 withincard last">
       <p class="cardheading">
        AVERAGE SESSION DURATION
        </p>
        <p class="cardvalue" >
          0
        </p>
        <div ></div>
          <p class="time">-5.77% vs last week</p>
    </div>
   
    </div>
    </div>

<div class="cell large-12 mobiledoughnut">
<div class="grid-x grid-margin-x">
  <div class="cell large-4 grid-x chartscard circle">
    <div class="cell large-12" style="text-align: center;">
    <p class="heading bar">Internet browsers</p>
    </div>
    <div class="cell large-12 grid-x">
      <div class="cell large-7" style="text-align: center;">
        <canvas id="browserchart" style="display: inline-block;" width="150" height="150"></canvas>

      </div>
      <div  class="cell large-5 legend-con" id="browserlegend"></div> 
    </div>
    </div>
    <div class="cell large-4 grid-x chartscard circle">
      <div class="cell large-12" style="text-align: center;">
      <p class="heading bar">Devices</p>
      </div>
      <div class="cell large-12 grid-x">
        <div class="cell large-7" style="text-align: center;">
          <canvas id="devicechart" style="display: inline-block;" width="150" height="150"></canvas>
  
        </div>
        <div  class="cell large-5 legend-con" id="devicechartlegend"></div> 
      </div>
      </div>
      <div class="cell large-4 grid-x chartscard circle">
        <div class="cell large-12" style="text-align: center;">
        <p class="heading bar">Operating systems</p>
        </div>
        <div class="cell large-12 grid-x">
          <div class="cell large-7" style="text-align: center;">
            <canvas id="oschart" style="display: inline-block;" width="150" height="150"></canvas>
    
          </div>
          <div class="cell large-5 legend-con" id="oslegend"></div> 
        </div>
        </div>
</div>
</div>

</div> -->