
  .closebtn
  
  {
   
  
    width: 22px;
    height: 22px;
    color:  #A8A8B9;
    opacity: 1;
  }
  
 .agentpic
 {
    width: 60px;
    height: 60px;
    background: #C4C4C4;
    border-radius: 50%;
    border: none;
    outline: none;
    display: block;

 }
 .agentpanel
 {
     padding-left: 10px;
 }
 .agaentname
 {font-family: "futura-pt",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    
    color: rgba(41, 47, 88, 0.8);
 }
 .typeofsuser
 {font-family: "futura-pt",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    
    color: #715DFF;
 }
 .agentid
 {font-family: "futura-pt",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    
    color: #A6A8BA;
 }
 .agentidtag
 {font-family: "futura-pt",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    
    color: rgba(41, 47, 88, 0.8);
 }

 .radiobtn
 {  font-family: "futura-pt",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: rgba(41, 47, 88, 0.8);
 }
 .form_input{
  
    height: 22px;
    text-align: left;
    line-height: 1.12rem;
    width: 100%;
    position: relative;
    color: #293059;
    border: 0;
    outline: 0;
    background: none;
    border-bottom: 1px solid #e1e1e1;
    box-shadow: none;
    margin-top: 1rem;
  }
  .labal
{
  font-family: "futura-pt",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: left;
  
  color: #A6A8BA;
  
}
.passwordtoggle
{
  font-size: 16px;
  color: #293059;
  margin-top: -45px;
  cursor: pointer;
  float: right;
}

.languagetoggle
{
   font-size: 16px;
   color: #293059;
   margin-top: -45px;
   cursor: pointer;
   float: left;
}
.tag{
    height: 44px;
    text-align: left;
    line-height: 1.12rem;
    width: 100%;
    position: relative;
    display: inline-block;
    margin-left: 10px;
    color: #293059;
    border: 0;
    outline: 0;
  
    border-radius: 14px;
    background: none;
    box-shadow: 1px 1px 6px #A8A8BA80;
    border-radius: 8px;
}
.tagpanel
{
    display: inline-block;
    text-align: justify;
    margin-right: 10px;
    background: #FFFFFF;
    padding: 10px;
    box-shadow: 0px 0px 4px 2px #E5E5E5;
    border-radius: 8px;
    margin-top: 1rem;
}
.tagiconn
{
    color: gray;
    cursor: pointer;
    float: right;
}
.tagiconn:hover
{
    color: gray;
}
.tagicon
{
    color: #A6A8BA;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    margin-left: 10px;
}
.tagicon:hover
{
    color: #A6A8BA;
}
.add
{font-family: "futura-pt",sans-serif;
display: inline-block;
width: 67px;
height: 30px;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
margin-left: 10px;
color: #0B9D88;
}
.udpate
{font-family: "futura-pt",sans-serif;
width: 110px;
height: 30px;
background: #715DFF;
border-radius: 15px;
color: white;
}

.imglanguage
{
   width: 15px;
   height: 10px;
 margin-right: 5px;
 display: inline-block;

}
.languagedrop
{ height: 22px;
   text-align: left;
   line-height: 1.12rem;
   width: 287px;
   display: inline-block;
   position: relative;
   color: #293059;
   border: 0;
   outline: 0;
   background: none;
   border-bottom: 1px solid #e1e1e1;
   box-shadow: none;
   margin-top: 1rem;
}
.dropdown-menu
{
   width: inherit;
   background: white;
   box-shadow: 1px 1px 6px #A8A8BA80;
   border: none;
   transform: translate3d(0px, 20px, 0px);
}
.languagetext
{
   font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
font-family: "futura-pt",sans-serif;
color: rgba(41, 47, 88, 0.8);
}
.languagename
{
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
font-family: "futura-pt",sans-serif;
color: rgba(41, 47, 88, 0.8);
display: inline-block;
}
.languageimg
{
    width: 15px;
    height: 10px;
    display: inline-block;
    margin-right: 5px;
}
.languagepanel
{
    display: inline-block;
    padding: 5px;
}
.editpanel
{
   /* padding-left: 80px;
      padding-right: 80px;
      padding-top: 20px;
      padding-bottom: 20px; */
      width: 280px;
      text-align: center;   
      margin-top: 2rem;
}
.topheading{
   font-family: "futura-pt",sans-serif;

   font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
text-align: center;
color: #292F58;
}
.subhead
{
   font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: left;
/* identical to box height */
font-family: "futura-pt",sans-serif;
color: #A6A8BA;
}