<!-- <div style="text-align: end;">
    <span class="material-icons closebtn" mat-button [mat-dialog-close]="true" cdkFocusInitial>
      close
      </span>
</div> -->
<div class="grid-x" style="text-align: center; ">
    <div class="cell large-12">
      <p class="heading">Reset your password</p>
    </div>
  </div>
  <form name="form"  class="grid-x" [formGroup]="form"  (ngSubmit)="updatepasssword()">
  
  <div class="grid-x" >
    <div class="cell large-12">
      <label for="" class="labal">
       Current Password
      </label> 
      <input  formControlName="oldpassword"  [type] ="passType"    spellcheck="false"  class="form_input"
       required>
       <span class="passwordtoggle" (click)="changePasswordType('current')"><img  class="agencyicon" [src]="srcpass1"></span>
  
    </div>
    <div class="cell large-12">
      <label for="" class="labal">
        New Password
      </label> 
      <input formControlName="newpassword" [type] ="passType1"   spellcheck="false"  class="form_input"
       required>     <span class="passwordtoggle" (click)="changePasswordType('new')"><img  class="agencyicon" [src]="srcpass2"></span>
  
    </div>
    <div class="cell large-12">
      <label for="" class="labal">
        Confirm New password
      </label> 
      <input formControlName="confirmpassword"  [type] ="passType2"    spellcheck="false"  class="form_input"
       required>
       <span class="passwordtoggle" (click)="changePasswordType('new_current')"><img  class="agencyicon" [src]="srcpass3"></span>
  
    </div>
  </div>  
  <div class="grid-x grid-margin-x" >
    <div class="cell large-12">
        <button type="submit"  class="yesbtn">Change</button>
        <button [mat-dialog-close]="true" cdkFocusInitial  class="cancelbtn">Cancel</button>
    </div>
  </div> </form>
   