.closebtn
  {
    width: 22px;
    height: 22px;
    color:  #A6A8BA;
    opacity: 1;
  }
.heading{
    text-align: left;
    font-family: "Roboto",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    text-align: center;
    margin-bottom: 24px;
    color: #292F58;

}

.yesbtn{
  background-color: #292F58 ;
  color: #FFFFFF;
  box-shadow: 0px 0px 4px 2px #E5E5E5;
  text-align: center;
  font-family: "futura-pt",sans-serif;
text-align: center;
font-style: normal;
font-weight: normal;
font-size: 16px;
width: 108px;
border-radius: 8px;
height: 36px;
margin-right: 12px;
}
.cancelbtn{
  height: 36px;
  background-color: #FF155A;
  color: #FFFFFF;
  text-align: center;
  font-family: "futura-pt",sans-serif;
text-align: center;
font-style: normal;
font-weight: normal;
font-size: 16px;
width: 108px;
border-radius: 8px;
box-shadow: 0px 0px 4px 2px #E5E5E5;
}

.form_input{
  
  height: 22px;
  text-align: left;
  line-height: 1.12rem;
  width: 1005;
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #292F58;   
  padding-left: 0px; 
  border: 0;
  outline: 0;
  background: none;
  border-bottom: 1px solid #e1e1e1;
  box-shadow: none;
  margin-bottom: 24px;
}
.passwordtoggle
{font-family: "futura-pt",sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #292F58;
  margin-top: -55px;
  position: relative;
  width: fit-content;
  cursor: pointer;
  float: right;

}
.labal
{
  font-family: "Roboto",sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #292F58;
}
