<div  [hidden]="agentlistview">
          <p class="agents">Agents</p> 
</div>    
<div class="tablearea" style="margin-top: 24px;" [hidden]="agentlistview">
  <div class="showagenttypes">
    <div class="dropdown agentype
     form_input mobiledropdown">
      <li style="height: 34px;">
      <a class="selectedagenttype"   data-toggle="dropdown" aria-expanded="false">
          {{selectedusername}}
      <i class="tagiconnn fa fa-chevron-down" aria-hidden="true"></i>
      </a>  
      <ul class="dropdown-menu usertype" style="transform: translate3d(0px, 23px, 0px);">
          <li class="listitem user"   *ngFor="let count of this.listofuser" [ngValue]="count.name" > <input (click)="selectusertype($event.target.checked,count.name,0)"  #i (change)="!i['checked']" [checked]="count.status" name="user"  type="radio" [value]="count.name" [attr.id]="count.name"> <label class="dropdownlistitem1"  [for]="count.name"> 
              {{count.name}}
             </label></li>
      </ul>
       </li>
        </div>
        </div>


    <div class="searchandaddagent">
      <div class="dropdown mobiledropdown ">
        <ul class="form_input">  
          <li style="height: 34px;">
          <a class="selectedlanguagetext" id="dropdownMenuButton2" data-toggle="dropdown" aria-expanded="false">
            {{selectedlanguages}}
          <i class="tagiconnn fa fa-chevron-down" aria-hidden="true"></i>
          </a>  
          <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton2">
              <!-- <li style="border-bottom: 2px solid  #E5E5E5; border-radius: 0px;" class="listitem"   > <input style="padding-bottom: 12px;"   name="count"  [checked]="allselectedtag" (change)="getalllanguage($event.target.checked)"type="checkbox" id="count"> <label class="dropdownlistitem"  for="count"> 
                Select All
              </label></li> -->
              <li class="listitem"   *ngFor="let count of this.lang" [ngValue]="count.name" > <input  #i (change)="!i['checked']" [checked]="count.status" (click)="selectlanguageonebyone($event.target.checked,count.id)" name="user"  type="checkbox" [value]="count.name" [attr.id]="count.name+1"> <label class="dropdownlistitem"  [for]="count.name+1"> 
                  {{count.name}}
                 </label></li>
          </ul>
           </li>
        </ul>
      </div>
      <div class="serachagents">
     
          
        <Input type="text"  (keyup)='search($event.target.value)' class="form_input search" placeholder="Search by name or e-mail..."/>
        </div> 
       <button class="addagent" (click)="Invtieteagentpopup()"><span style="margin-right: 8px;
            vertical-align: text-bottom;"><svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M11.2383 6.23828H6.73828V10.7383H5.26172V6.23828H0.761719V4.76172H5.26172V0.261719H6.73828V4.76172H11.2383V6.23828Z" fill="white"/>
        </svg>
        </span> Add agent</button>
      
       </div>

         
  
       <div class=" datatable" [hidden]="agentlist">
      <table>
        <thead >
          <tr  class="head" style="background: white;">
            <th style="width:30%; padding-left: 31px;">AGENT</th>
            <th  style="width:25%;">FULL NAME</th>
            <th style="width: 30%;">LANGUAGE</th>
            <th style="width: 25%;"></th>
          </tr>
        </thead>
        <tbody>
          <tr  class="mainlist list" *ngFor="let data of  all_agent; let i=index" [aria-rowindex]="getloggedinuserattop(data?.email)" >
            <td style="padding-left: 30px;"> 
                <svg class="loggedinuser"  *ngIf="getsettingforloggedinagent()==data?.email" width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9 1L3.90823 6L1.5 3.63517" stroke="#162741" stroke-opacity="0.46" stroke-width="1.4" stroke-linecap="round"/>
                  </svg>
                <div  class="icon-container"> <img style="margin-right: 15px;"  class="agentpic" height="36p" width="36" src="{{data?.images[96] | getpicture}}" alt="" ><div class='status-circle' [style.background]="isagentonline(data?.is_online)">
             </div>    
             </div>
              <div style="
              width: 100px;
              white-space: nowrap;
              display: inline-block;
              vertical-align: middle;
              ">
                               <!-- <p [hidden]="getinvitedagents(data?.invited,data?.inactive,data?.active)">{{data?.display_name}}</p> -->

                 <p class="displayname"  [style.color]="getinvitedagents(data?.invited,data?.inactive,data?.active)">{{getagentname(data?.display_name)}}</p>
                 <p [style.color]="getinvitedagents(data?.invited,data?.inactive,data?.active)">{{data?.email}}</p></div>
            </td>
            <td [style.color]="getinvitedagents(data?.invited,data?.inactive,data?.active)">{{getfullname(data?.invited,data?.inactive,data?.active,data?.first_name,data?.last_name)}}</td>
            <td><p [style.color]="getinvitedagents(data?.invited,data?.inactive,data?.active)" *ngFor="let lang of data?.languages; let i=index;" style="display:inline-block;padding-right: 2px;">{{lang.name}}<span [hidden]="i == data.languages.length-1">, </span> </p></td>
            <td ><img class="settings" (click)="getsettingspage(data?.images[96],data?.email,data?.invited,data?.display_name,data?.first_name,data?.last_name,data?.languages,data?.role,data?.uuid)" [hidden]="!(getsettingforloggedinagent()==data?.email && isagent==false||isagent==true)" [src]="agentrole" ></td>
          </tr>
        </tbody>
      </table>
        <div>
          <p class="totalnoofagent">{{totalnumberofagent}} agents</p>
        </div>
      
      </div>
      <div  [hidden]="noagent">
        <p class="cell large-12 no-agents">{{allagentmsg}}</p>
        </div>
  
  
</div>
<div  [hidden]="agentsetting">
  <app-agentsettings></app-agentsettings>
  </div>
