::marker{
  margin: 0px;
}
.callsarea{
  display: block;
  padding-left: 30px;
  padding-right: 30px;
  height: 100vh;
  background: white;
}
.topheadingpanel{
  display: block;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
}
.dropdownpanels{
  width: 100%;
  display: block;
}
.languagepanel{
  display: inline-block;
  text-align: left;
  width: 25%;
}
.secondpanel{
  display: inline-block;
  width: 75%;
  text-align: right;
}
.dropdown.languages{
  width: 185.55px;
  height: 34px;
  background: #FFFFFF;
border: 1px solid rgba(208, 208, 222, 0.6);
box-sizing: border-box;
border-radius: 4px;
display: inline-block;
margin-right: 20px;
}
.dropdown.calltype{
  width: 107px;
  height: 34px;
  background: #FFFFFF;
border: 1px solid rgba(208, 208, 222, 0.6);
box-sizing: border-box;
border-radius: 4px;
display: inline-block;
margin-right: 20px;
text-align: left;
}
.dropdown-menu{
  margin-right: -11px;
}
.dropdown-menu.show.languages{
  min-width: 185.55px;
  max-width: 185.55px;
  display: block;
  transform: none !important;
  margin-top: 40px
}
.dropdown-menu.show.calltype{
  min-width:  107px;
  max-width:  107px;
  display: block;
  transform: none !important;
  margin-top: 40px
}
.mainheading{
  font-family: "Roboto";
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
align-items: center;
letter-spacing: 0.02em;
color: #162741;
}
.tabspanel{
display: block;
width: 100%;
padding-left: 30px;
padding-right: 30px;
}
.calander{
  background: #FFFFFF;
  border: 1px solid rgba(166, 168, 186, 0.5);
  box-sizing: border-box;
  border-radius: 6px;
  /* width: 238px; */
height: 44px;
padding: 0px;
cursor: pointer;
}
.caland{

  float: left;
  height: 34px;
  cursor: pointer;
  }
  .caland:hover{
    cursor: pointer;
  }
  svg{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: 12px;
    color:  #C4C4C4;
    cursor: pointer;
    }
    .arrowdownicon{
      float: right;
      line-height: 34px;
      display: flex;
      margin-right: 16px;
      cursor: pointer;
      height: 12px;
      width: 7px;
      color:  #A6A8BA;

    }
    .arrowdownicon:hover{
      color:  #A6A8BA;
      cursor: pointer;


    }
  .calhead{
    font-family: "Roboto",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 36px;
    margin-left: 8px;
    display: inline-block;
    vertical-align: middle;
    color: #292F58;
}
.calhead:hover{
  cursor: default;
}




.selectionpanel{
  /* background: #FFFFFF;
box-shadow: 0px 15px 35px rgba(37, 51, 66, 0.15); */
width: 121px;
height: 288px;
text-align: center;
display: inline-block;
border-right: 2px solid rgba(166, 168, 186, 0.3);
}
*:hover{
  cursor: default;

}
.dialcall{
  cursor: pointer;
}
.tabs-title.is-active> a:focus { outline-style: none; }

  .tabs-title > a
  {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    color:  rgba(22, 39, 65, 0.66); 
    background-color: #FAFAFD;
    border-bottom: 0px solid #FAFAFD;
    margin-bottom: -2px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    margin-right: 2.1rem;
    cursor: pointer;
  }
  .tabs-title.is-active > a
  {

    border-bottom: 2px solid #1C54DB;
    font-weight: 500;
    color: #162741;
  }
  .tabs
  {
    border: none;
    background-color: #FAFAFD;

  }

  .form_input{
  
    height: 34px;
    text-align: left;
    padding-left: 40px;
    width: 245px;
    position: relative;
    color: #293059;
    border: 0;
    outline: 0;
    display: inline-block;
    background: #FFFFFF;
    border: 0.5px solid rgba(166, 168, 186, 0.5);
    box-sizing: border-box;
    border-radius: 4px;
    font-family: "Roboto",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 120%;
    
    align-items: center;
    letter-spacing: 0.02em;
    
    color: #7D8696;
    
    cursor: text;
    cursor: default;
  }
  .is-dropdown-submenu-parent.opens-right > .is-dropdown-submenu
  {
    left: 0;
    margin-top: 2.6rem;
  }
  .menu .is-active > a
  {
    background: none;
  
  }
  .dropdown.menu > li > a{
    font-family: "Roboto",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  height: 36px;
  padding-left: 14px;
  display: block;
  align-items: center;
  text-align: left;
  color: #292F58;
  }
  .is-dropdown-submenu-parent.opens-right > .is-dropdown-submenu
  {
      left: 0;
      margin-top: 2.6rem;
  }
  .menu.submenuu{
    margin-top: 12px;
    margin: 0px;
    z-index: 3;
  }
  .menu{
   
    background: #FFFFFF;
    border: 0.5px solid rgba(166, 168, 186, 0.5);
    box-sizing: border-box;
    border-radius: 4px;
    top: 0px;
    width: 100%;
    top: 0px;
  
  }
  .labal
{
  font-family: "Roboto",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 50px;
  display: flex;
  align-items: center;
  color: #292F58;
}
.numberofcalls{
  margin-left: 8px;
  height: 14px;
  width: 14px;
  text-align: center;
  background: #1C54DB;
  border-radius: 50%;
  line-height: 15px;
  font-family: "Roboto",sans-serif;
font-style: normal;
font-weight: 500;
font-size: 10px;
color: #FFFFFF;
}
.dialcallbtn{
  width: 59px;
height: 25px;
background: #1C54DB;
border-radius: 4px;
font-family: "Roboto",sans-serif;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 120%;
cursor: pointer;
/* or 14px */

align-items: center;
letter-spacing: 0.02em;

color: #FFFFFF;
}
.tagiconnn
{
    color: #A6A8BA;
    cursor: pointer;
    float: right;
    line-height: 34px;
    display: flex;
    margin-top: 0px;
    margin-right: 14px;
    height: 12px;
    width: 7px;
    
}
.tagiconnn:hover
{
    color: #A6A8BA;
}

thead, tbody tr:nth-child(even){
    background:#FFFFFF;
    border: none;
    border-bottom: 1px solid #E1E1EA;

}
thead tr{
    margin-top: 3px;
    background: #FFFFFF;
    height: 50px;
    border-bottom: 1px solid  #E1E1EA;
}
table,tbody
{
  background: #FFFFFF;
  border: 1px solid #E1E1EA;
  box-sizing: border-box;
  border-radius: 4px 4px 0px 0px;
  border-radius: 4px;
}
th{
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    /* or 357% */
    width: 20%;
    align-items: center;
    font-family: "Roboto",sans-serif;
    border-bottom: 1px solid rgba(166, 168, 186, 0.1);
    color: rgba(22, 39, 65, 0.6);
    margin-bottom: 6px;
    height: 48px;
    padding-bottom: 0px;
    padding-top: 0px;
}
li.listitem{
  margin: 4px;
  border-radius: 4px;
  display: block;
  width: 95%;
}
.dropdownlistitem1{ font-family: "Roboto",sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
display: inline-block;
width: 60px;
/* overflow: hidden; */
white-space: nowrap;
text-overflow: inherit;
color: #292F58;
vertical-align: bottom;
height: 24px;
}
.languagetext{
  font-family: "Roboto",sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height:34px;
  align-items: center;
  letter-spacing: 0.02em;
  margin-left: -10px;
  color: rgba(22, 39, 65, 0.8);
}
.dropdownlistitem{ font-family: "Roboto",sans-serif;
  font-style: normal;
 font-weight: normal;
 font-size: 14px;
 line-height: 24px;
 display: inline-block;
 overflow: hidden;
 white-space: nowrap;
 text-overflow: ellipsis;
 color: #292F58;
 vertical-align: middle;
 height: 24px;
}
td  {   font-family: "Roboto",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    align-items: center;
    color: #162741;
    padding-bottom: 0px;
    padding-top: 0px;
}
.username{
  font-weight: 500;
  font-family: "Roboto",sans-serif;
    font-style: normal;
    font-size: 12px;
    line-height: 17px;
    align-items: center;
    color: #162741;
    padding-bottom: 0px;
    padding-top: 0px;
}
.id{
  font-weight: normal;
  font-family: "Roboto",sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 17px;
  align-items: center;
  color: #162741;
  padding-bottom: 0px;
  padding-top: 0px;

}
.call_type{
  font-family: "Roboto",sans-serif;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 17px;
align-items: center;
letter-spacing: 0.02em;
color: #445167;

}
td.expd{
    padding-bottom: 12px;
    padding-top: 12px;  
}
td .first{    font-family: "Roboto",sans-serif;
        font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    padding-left: 0px;
    padding-right: 0px;
    color: rgba(41, 47, 88, 0.8);
    
}
td .second{    font-family: "Roboto",sans-serif;

    font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
padding-left: 0px;
padding-right: 0px;
color: rgba(41, 47, 88, 0.8);

}
tr,tbody tr:nth-child(even)
{
    border-bottom: 1px solid rgba(229, 229, 229, 0.5);;
}
tr.mainlist{
    border: none;
    border-bottom: 1px solid rgba(229, 229, 229, 0.5);;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    height: 50px;
    background: #FAFAFD;
}
.userinfoicon{
margin-right: 10px;

}

.agentpic{
  width: 36px;
height: 36px;
border-radius: 50%;
display: inline-block;
position: relative;
}

input[type="radio"]  {
  height: 18px;
  width: 18px;
  margin-left: 12px;
  margin-right: 0px;
  border-radius: 50%;
  margin-top: 6px;
  margin-bottom: 6px;
  background: #FFFFFF;
  border: 0.5px solid rgba(166, 168, 186, 0.5);
  box-sizing: border-box;
  vertical-align: middle;
  appearance: inherit;
  cursor: pointer;
  }
  
  input[type=radio]:before{
  background-color: #FFFFFF; 
  border-bottom:none;
  
  }
  input[type=radio]:checked{
    background-image: url(../../../assets/assets_workdesk/checkbox_icon.svg);
    background-repeat: no-repeat;
    background-size: 19px 21px;
    background-position: center;
    border-bottom:none;
  
  }
  
  input[type=radio]:checked:after {
  content: "";
  margin-left: 2px;
  margin-top: 0px;
  position: absolute;
  color: #FFFFFF;
  border-bottom:none;
  }
  /* input[type=radio]:checked:after {
  background: #64DFDF;
  } */
  
   
  input[type="checkbox"]  {
  height: 18px;
  width: 18px;
  margin-left: 12px;
  margin-right: 0px;
  margin-top: 6px;
  margin-bottom: 6px;
  background: #FFFFFF;
  border: 0.5px solid rgba(166, 168, 186, 0.5);
  box-sizing: border-box;
  border-radius: 4px;
  vertical-align: middle;
  appearance: inherit;
  cursor: pointer;
  }
  
  input[type=checkbox]:before{
  background-color: #FFFFFF; 
  border-bottom:none;
  
  }
  input[type=checkbox]:checked{
    background-image: url(../../../assets/assets_workdesk/checkbox_icon.svg);
    background-repeat: no-repeat;
    background-size: 19px 21px;
    background-position: center;
  border-bottom:none;
  }
  
  input[type=checkbox]:checked:after {
  content: " ";
  margin-left: 2px;
  margin-top: 0px;
  position: absolute;
  color: #FFFFFF;
  border-bottom:none;
  }
.call-status{
  font-family: "Roboto",sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */

display: block;
align-items: center;

color: #292F58;

}
.imagetag{
  width: 20%;
}
.fullnamecol{
  width: 20%;
}
.agentnamecol{
  width: 20%;
}
.waitingtime{
  width: 10%;
}
@media (max-width: 768px){
  .tabs-title > a
  {
    font-size: 11px;
    line-height: 16px;
  }
  .mobiledropdown{
    margin-bottom: 24px;
  }
  .withdatefilter{
    width: 105%;
  }
  .bs-datepicker .bs-media-container {
    flex-direction: row;
    margin: 0px;
}
.dropdown-menu.show{
    width: 364px;
}

body .bs-datepicker {

    width: auto;
}
.selectionpanel{
    display: inline-block;
}

.calander{
    width: 224px;
    float: right;
}
th{
  font-size: 12px;
  line-height: 14px;
}
td{
  font-size: 12px;
  line-height: 14px;
 
}
tr.mainlist{
 padding-left: 0px;
 padding-right: 0px;  
}
.datatable{
display: block;
width: 100%;
overflow-x: auto;
}
table{
  width: 768px;
}
img{
  height: 14px;
  width: 14px;
  
}
.reason{
  display: block;
  width: max-content;
}
.calltype{
  width: max-content;
  display: block;
}
.imagetag{
width: 10%;
}
.fullnamecol{
  width: 15%;
}
.agentnamecol{
  width: 25%;
}
.waitingtime{
  width: 12%;
}
}