.fa:hover
{
    color:#fff;
}
.dropdown-item-dashboard :hover{
    background: #F8F8F9 0% 0% no-repeat padding-box;
    opacity: 1;
}
.acct {
    border-bottom: 1px solid #e1e1e1;
}
.dropdown-content {
    display: none;
    position: absolute;
    background: #fff 0% 0% no-repeat padding-box;
  
  }
  .aac
  {
      margin: 0px;
      position: relative;
  }
 
  .aac:hover >.dropdown-content 
  {display: block;
    right: 111px;
    margin-top: -39px;
    position: absolute;
    background: #fff 0% 0% no-repeat padding-box;
    box-shadow: 1px 5px 17px #00000029;
    z-index: 1000;
}
 